<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>363978651681-6pr622etrvjfr985okbhqsh5724uicma.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.363978651681-6pr622etrvjfr985okbhqsh5724uicma</string>
	<key>API_KEY</key>
	<string>AIzaSyB5YRlU6LVEqZIlOAWvJEUWsqNTgV5OxVA</string>
	<key>GCM_SENDER_ID</key>
	<string>363978651681</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>going.com.FA</string>
	<key>PROJECT_ID</key>
	<string>fitnessassistant-5a36f</string>
	<key>STORAGE_BUCKET</key>
	<string>fitnessassistant-5a36f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:363978651681:ios:0b6d2c690dc92060748b60</string>
</dict>
</plist>